
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


body{
    margin: 0;
    background-color: #1a1a1a;
    color: #fafafa;
    transition: .1s linear;
}

body.claro {
    background-color: #ffffff;
    color: #1a1a1a;
}

body.claro #habil{
    background-color: #bebebe;
    color: #1a1a1a;
}

body.claro #sites{
    background-color: #b3b3b3;
    color: #1a1a1a;
}

body.claro #rodape{
    background-color: #c9c8c8;
    color: #1a1a1a;
}

body.claro #card-contato{
    background-color: #b3b3b3;
    color: #1a1a1a;
}

body.claro #header{
    background-color: #c9c9c9;
    color: #1a1a1a;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: grid;
    }

}
@media only screen and (min-width: 501px) {
    .desktop {
        display: grid;
    }

    .mobile {
        display: none;
    }

}

#buttInv button{
    background-color: #a3040400;
    border: 0;
    color: white;
}

#header{
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100%;
    font-size: large;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    z-index: 99;
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox.claro .ball{
    background-color: white;
}

.label{
    background-color: #272727;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: space-between;
    position: relative;
    height: 25px;
    width: 50px;
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    width: 25px;

    transform: translateX(0px);
    transition: transform 0.1s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(25px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

#headerM{
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100%;
    font-size: x-large;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 99;
    position: fixed;
}

#home{
    z-index: 0;
    width: 100%;
    height: 120vh;
    padding-top: 9vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    text-align: center;
    align-items: center;
    transition: .1s linear
}

#homeM{
    z-index: 0;
    background-color: #1a1a1a;
    width: 100%;
    height: 110vh;
    color: white;
    padding-top: 12vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    transition: .1s linear
}

#habil{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows:  10vh 30vh 30vh;
    height: 80vh;
    width: 100%;
    text-align: center;
    background-color: #dadada;
    align-items: center;
    transition: .2s linear
}

#texto-habil{
    color: #ff3030;
}

#habilidades{
    align-items: center;
    background-color: #ffffff;
    height: 25vh;
    width: 25vw;
    border-radius: 30px;
    transition: 0.2s;
    text-align: bottom;
    padding-top: 1vh;
}

#habilidades:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px rgb(112, 112, 112);
}

#habilM{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh;
    height: 90vh;
    background-color: #d9d9d9;
    align-items: center;
    text-align: center;
}

#projetos{
    width: 100%;
    height: 110vh;
    padding-top: 4vh;
    display: grid;
    grid-template-columns: 20% 1fr 5% 1fr 20%;
    grid-template-rows: 10vh 30vh 30vh 30vh 30vh 30vh;
    transition: .1s linear;
    text-align: center;
    align-items: center;
}

#sites{
    background-color: #7e7e7e;
    height: 25vh;
    width: 25vw;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

#sites:hover{
    box-shadow: #29232370 5px 5px 5px;
    transform: scale(1.15);
    
}

#bloco-habil{
    display: grid;
    height: 25vh;
    width:25vw;
    background-color: rgb(187, 186, 186);
    border-radius: 10px;
    align-items: center;
}

#rodape{
    height: 50vh;
    background-color: rgb(65, 65, 65);
    display: grid;
    grid-template-columns: 10% 1fr 5% 1fr 10%;
    grid-template-rows: 100%;
    text-align: center;
    align-items: center;
    transition: .1s linear
}

#redes{
    display: flex;
    flex-direction: column;
    line-height: 5%;
    align-items: center;
    height: 30vh;
    justify-content: space-between;
    transition: .1s linear
}

.btnIndice {
    width: 60%;
    cursor: pointer;
    border: none;
    background-color: #ff3030;
    padding: 10px 0;
    box-shadow: 0 6px 0 #ac2121;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.1s;
    color: #ffffff;
    margin-bottom: 1%;
    transition: .1s linear
  }

.btnIndice:hover{
    background-color: #ea2e2e;
    color: #efefef;
}

.btnIndice:active{
    background-color: #f32525;
    box-shadow: none;
    transform: translateY(6px);
}

#contato{
    height: 100%;
    align-content: center
}

#card-contato{
    color: #1a1a1a;
    background-color: #d9d9d9;
    border-radius: 25px;
    height: 80%;
    width: 50%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10% 7% 10% 7% 10% 7% 30% 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2vh;
    text-align: left;
    align-content: space-between;
}

#btnEnviar{
    width: 60%;
    cursor: pointer;
    border: none;
    background-color: #ff3030;
    padding: 10px 0;
    box-shadow: 0 6px 0 #ac2121;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.1s;
    color: #ffffff;
    margin-bottom: 1%;
    transition: .1s linear;
    text-align: center;
}

#btnEnviar:hover{
    background-color: #ea2e2e;
    color: #efefef;
}

#btnEnviar:active{
    background-color: #f32525;
    box-shadow: none;
    transform: translateY(6px);
}

.btnContato{
    border: 0;
    border-radius: 15px;
    background-color: #272727;
    box-shadow: #1a1a1a 0px 5px 0;
    color: #ffffff;
    text-align: center;
    transition: .1s;
    padding: 5px;
    width: 50%;
    height: 20%;
}

.btnContato:hover{
    background-color: #292929;
}

.btnContato:active{
    box-shadow: none;
    transform: translateY(5px);
}